//a component i.e. independent buliding block and reuasable and can be used anywhere on the page

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;/* This object-fit property set to cover fills the parent element and clips off the extra video without affecting
        aspect-ratio */ 
    }
}